{% block content %}
<div class="background-img">
    <p> {% load static %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" /></p>
    
</div>
<div class = "container" style = "text-align: center">
    <p> 
        <h1> Hello Emmela </h1>
        
       <!--  <h2><a href="tracking"> <h3>TRACKING PAGE</h2> </a>
        <h2><a href="loading"> <h3>LOADING PAGE</h2> </a> -->
    </p>
    
</div>
<div class = "container" style = "text-align: center">
    <p> 
      <h2><a href="tracking"> <h3>TRACKING PAGE</h2> </a>
      <h2><a href="loading"> <h3>LOADING PAGE</h2> </a>
    </p>
    
  </div>

{% endblock content %}
